.root {
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px;
    background-color: cornflowerblue;
    border: none;
    outline: none;
    color: white;
    border-radius: 3px;
}